Flask==2.2.3
Flask-RESTful
Jinja2
Flask-JWT-Extended
Werkzeug==2.3.7
python-dotenv
marshmallow
Flask-Bcrypt
flask-mongoengine
redis
celery
requests
newrelic
sib-api-v3-sdk
pymongo
Flask-Elasticsearch==0.2.5
py-healthcheck